helllo;;;;;;





you are on web server {{ ansible_fqdn  }}
free RAM available on this server .....{{ ansible_memfree_mb }}
~                                                                               
~   
